<div class="login-container">
    <h1 class="heading text-center">STOCKS AND BONDS DIGITAL SIGNAGE</h1>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4 text-center"><button type="button" class="login-btn btn btn-secondary btn-lg btn-block" (click)="tryGoogleLogin()"><img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>Login With Google</button></div>
        <div class="col-xs-4"></div>
    </div>
</div>
