.add-btn:hover {
    cursor: pointer;
    background-color: lightgreen;
}

.delete-btn {
    float: right;
    background-color: aliceblue;
    color: red;
}

#newsKey-list {
    padding: 10px;
}

.key-row {
    border: 1px solid lightgray;
    padding: 3px;
    margin: 2px;
    border-radius: 2px;
}

.key-item {
    padding-top: 8px;
    padding-bottom: 4px;
}
